/* Horizontal Carousel */
#horizontal_carousel {
  float:left;
  width: 560px;
  height: 110px;
  margin-bottom: 10px;
  position: relative;
  top:-6px;
}         

#horizontal_carousel .container {
  position: absolute;
  top: 0px;
  left: 37px;  
  width: 485px;
  height: 100px;
  overflow:hidden;   
  background: #fff;
}            

#horizontal_carousel .previous_button {
  position: absolute;
  top: 55px;
  left: 10px;
  width: 20px;
  height: 20px;
  background: url(../../images/buttons/prev-up.png);
  background-repeat:no-repeat;
  z-index: 100;    
  cursor:pointer;
}        

#horizontal_carousel .previous_button_disabled {
  background: url(../../images/buttons/prev.png);
  background-repeat:no-repeat;
  cursor:default;
}

#horizontal_carousel .next_button {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(../../images/buttons/next-up.png);
  background-repeat:no-repeat;
  z-index: 100;
  cursor:pointer;
}   

#horizontal_carousel .next_button_disabled {
  background: url(../../images/buttons/next.png);
  
  cursor:default;
}

#horizontal_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: -9px;
  left: 0;
  height: 144px;
}                      

#horizontal_carousel ul li img {
  /*border:1px solid #999999;*/
  display:block;             
  /*background:#E3EDFA;*/
}                               

/*#horizontal_carousel ul li {
  font-family:verdana,arial,sans-serif;
  font-size:10px;
}*/                               

#horizontal_carousel ul li {
  border:0px solid green;
  /*color:#FFF;*/
  margin:0pt;
  padding:13px 8px 8px;
  width:80px;
  list-style:none;   
  float:left;
}
