html {
	background-color: #797979;
}
body {
	background-color: #797979;
	text-align: left;
	font-family: "Trebuchet MS", Verdana, Arial;
}
.container {
	width: 627px;
	background-color: #797979;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bkg.gif);
	background-repeat: no-repeat;
	height: 979px;
}
.header {
	height: 111px;
	width: 201px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 35px;
}
.content {
	height: 678px;
	width: 595px;
	position: relative;
	top: 55px;
	left: 16px;
	overflow: hidden;
}
.footer {
	height: 110px;
	width: 595px;
	position: relative;
	top: 56px;
	left: 16px;
	overflow: hidden;
}
.sampleshow {
	margin-top: 30px;
}
.bigtext {
	font-size: 30px;
	line-height: 30px;
	margin: 8px;
}
.blue {
	color: #00A5F2;
	font-weight: bold;
}
.grey {
	color: #797979;
}
.subtitles {
	color: #5D9F00;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 18px;
}
.texto {
	margin-left: 10px;
	color: #797979;
	font-size: 15px;
}
a {
	color: #00A5F2;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
