{include file="header.html" title="Your password was sent successfully"}
    <div class="main-nav">
   	  <div class="main-nav-top">
        	<img src="images/borderL.gif" class="corner" style="display:none" />
      </div>
        <p>
        	<ul>
          		{section name=mitem loop=$navmenus}
	            	<li><a href="{$navmenus[mitem].link}" {if $navmenus[mitem].selected eq 1}class="tab-selected"{/if}>{$navmenus[mitem].menu}</a></li>
	            {/section}
   	  		</ul>
      </p>
  </div>
    <div class="content">
    <p>&nbsp;</p>
    <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        	<td width="630">
{if $error_message eq ''}
        		<p>{t}Your password has been reset{/t} <span class="hilite">{$customeremail}</span></p>
        		<p><a href="login.php">{t}Click Here to login and start{/t} &gt;&gt;</a></p>
{else}
			{t}{$error_message}{/t}<br>
			
			<p><a href="lostpassword.php">Lost Password</a></p>
			<p><a href="index.php">Main Page</a></p>
{/if}
        	</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    </div>
{include file="footer.html"}
