
		<div id="edit-title" class="edit-title">
			{if $regiontype eq 1}
				{t}Main Media Region{/t}
			{else}
				{t}Sidebar{/t}
			{/if}
		</div>
		
		
		{section name=i loop=$playlistitems}
        
			<div class="row_container" id="row_container_{$playlistitems[i].id}">
				<div class="sh-playlist-row-uselected-even" id="row_{$playlistitems[i].id}">
					<div class="sh-order" onclick="toggleDetail('sh-detail_{$playlistitems[i].id}')"><img src="images/icons/magnifier.png"></div>
					
					
					
					{if $playlistitems[i].mediatype eq 2}
						<div class="sh-name sh-name2">{$playlistitems[i].description} ({$playlistitems[i].name})</div>
						<div class="sh-sheduele2"><div class="seconds" id="duration_bar_{$playlistitems[i].id}">{$playlistitems[i].duration}</div><span class="seconds">{t}seconds{/t}</span></div>
					{/if}
					
					{if $playlistitems[i].mediatype eq 1}
						<div class="sh-name sh-name2">{$playlistitems[i].description} ({$playlistitems[i].name})</div>
						<div class="sh-sheduele2">{t}Video{/t}</div>
					{/if}
					
					{if $playlistitems[i].mediatype eq 3}
						<div class="sh-name sh-name2">{$playlistitems[i].description} ({$playlistitems[i].name})</div>
						<div class="sh-sheduele2">Flash</div>
					{/if}
					
					{if $playlistitems[i].nomediatype eq 1}
						<div class="sh-name sh-name2">Podcast</div>
						<div id="url_bar_{$playlistitems[i].id}" class="sh-sheduele2">{$playlistitems[i].url}</div>
					{/if}
					
					{if $playlistitems[i].nomediatype eq 2}
						<div class="sh-name sh-name2">HTML</div>
						<div id="url_bar_{$playlistitems[i].id}" class="sh-sheduele2">{$playlistitems[i].url}</div>
					{/if}
					
					{if $playlistitems[i].nomediatype eq 3}
						<div class="sh-name sh-name2">{t}Live Video{/t}</div>
						<div class="sh-sheduele2"><div class="seconds" id="duration_bar_{$playlistitems[i].id}">{$playlistitems[i].duration}</div><span class="seconds">{t}seconds{/t}</span></div>
					{/if}
					
					<div class="sh-transition sh-transition2"></div>
					<a href="#">
						<div class="sh-edit sh-edit2"></div>
			        </a>
			        
					<div class="sh-delete">
						<a href="javascript:deleteplaylistitem({$playlistitems[i].id},{$templateregion},{$showregion},{$regiontype})">
			        	
			        	<img src="images/icons/delete.png" alt="delete" width="16" height="16" />
			        	</a>
					</div>
				</div>
				
				
				
				{if $playlistitems[i].mediatype eq 2}
				<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px">
					<strong>{t}Display Time{/t}</strong> <input type="text" name="duration_{$playlistitems[i].id}" value="{$playlistitems[i].duration}" id="duration_{$playlistitems[i].id}" class="form-items timeinput" style="margin-top:10px;margin-left:10px"> {t}seconds{/t}
					<div id="boton">
						<div class="buttons" style="float:right">
							<a onclick="savePlayListItemDuration({$playlistitems[i].id})" class="positive">
						    	<img alt="" src="images/icons/accept.png"/> 
						    	{t}Ok{/t}
							</a>
						</div>
					</div>
				</div>
				{/if}
				
				{if $playlistitems[i].mediatype eq 1}
					<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px"></div>
				{/if}
				{if $playlistitems[i].mediatype eq 3}
					<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px"></div>
				{/if}
				
				{if $playlistitems[i].nomediatype eq 1}
				<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px">
					<strong>{t}URL{/t}</strong> <input type="text" name="url_{$playlistitems[i].id}" value="{$playlistitems[i].url}" id="url_{$playlistitems[i].id}" class="form-items" style="margin-top:10px;margin-left:10px">
					<div id="boton">
						<div class="buttons" style="float:right">
							<a onclick="savePlayListItemURL({$playlistitems[i].id})" class="positive">
						    	<img alt="" src="images/icons/accept.png"/> 
						    	{t}Ok{/t}
							</a>
						</div>
					</div>
				</div>
				{/if}
			
				{if $playlistitems[i].nomediatype eq 2}
				<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px">
					<strong>{t}URL{/t}</strong> <input type="text" name="url_{$playlistitems[i].id}" value="{$playlistitems[i].url}" id="url_{$playlistitems[i].id}" class="form-items" style="margin-top:10px;margin-left:10px">
					<div id="boton">
						<div class="buttons" style="float:right">
							<a onclick="savePlayListItemURL({$playlistitems[i].id});savePlayListItemDuration({$playlistitems[i].id});" class="positive">
						    	<img alt="" src="images/icons/accept.png"/> 
						    	{t}Ok{/t}
							</a>
						</div>
					</div>
					<strong>{t}Display Time{/t}</strong> <input type="text" name="duration_{$playlistitems[i].id}" value="{$playlistitems[i].duration}" id="duration_{$playlistitems[i].id}" class="form-items timeinput" style="margin-top:10px;margin-left:10px"> {t}seconds{/t}
				</div>
				{/if}
			
				{if $playlistitems[i].nomediatype eq 3}
				<div id="sh-detail_{$playlistitems[i].id}" class="sh-detail" style="display:none;height:80px">
					
					<strong>{t}Display Time{/t}</strong> <input type="text" name="duration_{$playlistitems[i].id}" value="{$playlistitems[i].duration}" id="duration_{$playlistitems[i].id}" class="form-items timeinput" style="margin-top:10px;margin-left:10px"> {t}seconds{/t}
					
					
					<div id="boton">
						<div class="buttons" style="float:right">
							<a onclick="savePlayListItemDuration({$playlistitems[i].id});" class="positive">
						    	<img alt="" src="images/icons/accept.png"/> 
						    	{t}Ok{/t}
							</a>
						</div>
					</div>
					
				</div>
				{/if}
			
			</div>
        
		{/section}

		
		<form name="pdata">
			<input type="hidden" id="playlistid" name="playlistid" value="{$playlistid}">
			<input type="hidden" id="templateregion" name="templateregion" value="{$templateregion}">
			<input type="hidden" id="showregion" name="showregion" value="{$showregion}">
			<input type="hidden" id="regiontype" name="regiontype" value="{$regiontype}">
		</form>
		
		 <div class="sh-add-to-playlist">
				<div class="buttons" style="float:right">
					
				<!--
					<a onclick="javascript:insertPlaylistItem({$playlistid},2,{$templateregion},{$showregion},{$regiontype})">
				    	<img alt="" src="images/icons/television.png"/> 
				    	{t}Live{/t}
					</a>-->
				{if $regiontype eq 1}
					<!--
					<a onclick="javascript:insertPlaylistItem({$playlistid},1,{$templateregion},{$showregion},{$regiontype})" class="podcast" style="position: relative; height: 16px;">
				    	<img alt="" src="images/icons/podcast.png"/> 
				    	{t}Podcast{/t}
					</a>-->
					
					
					
		    	{/if}
		
					<!--<a onclick="return false" href="#miniLibraryContainer" id="modal_link_two" class="positive" style="float:right;">
				    	<img alt="" src="images/icons/add.png"/> 
				    	{t}Files{/t}
					</a>-->
					
				</div>

	
		
		