{include file="header.html" title="Your registration was successful"}
    <div class="main-nav">
   	  <div class="main-nav-top">
        	<img src="images/borderL.gif" class="corner" style="display:none" />
      </div>
        <p>
        	<ul>
	   		    <!-- <li><a href="#" class="tab-selected">WELCOME</a></li>
	            <li><a href="#">LOGIN</a></li>
	            <li><a href="#">REGISTER</a></li> -->
	            
	            {section name=mitem loop=$navmenus}
	            	<li><a href="{$navmenus[mitem].link}" {if $navmenus[mitem].selected eq 1}class="tab-selected"{/if}>{$navmenus[mitem].menu}</a></li>
	            {/section}
		
   	  		</ul>
      </p>

  </div>
    <div class="content">
    <p>&nbsp;</p>
    <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        	<td width="630">
        		<p>{t}RegSuccess{/t} <span class="hilite">{$customeremail}</span><!-- Your registration was <span class="hilite">successful</span>. We have sent you a copy of your information to: <span class="hilite">email@email.com</span> --></p>
        		<p><a href="login.php">{t}Click Here to login and start{/t} &gt;&gt;</a></p>
        	</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    </div>
{include file="footer.html"}
