{include file="header.html" title="Take a Tour"
							additional_scripts="
							<script src=\"js/control.modal.js\" type=\"text/javascript\"></script>"
                            onload_function=" "
}

<div id="uploadmedia">
	<embed src="http://blip.tv/play/4169t3wA" type="application/x-shockwave-flash" width="720" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
</div>
<div id="createshow">
	<embed src="http://blip.tv/play/4169uUQA" type="application/x-shockwave-flash" width="720" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
</div>
<div id="createplayer">
	<embed src="http://blip.tv/play/4169uU0A" type="application/x-shockwave-flash" width="720" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
</div>
<div id="installdemoplayer">
	<embed src="http://blip.tv/play/4169uE0A" type="application/x-shockwave-flash" width="720" height="480" allowscriptaccess="always" allowfullscreen="true"></embed>
</div>

    <div class="main-nav">
   	  <div class="main-nav-top">
        	<img src="images/borderL.gif" class="corner" style="display:none" />
      </div>
        <p>
        	<ul>
          
	            {section name=mitem loop=$navmenus}
	            	<li><a href="{$navmenus[mitem].link}" {if $navmenus[mitem].selected eq 1}class="tab-selected"{/if}>{if $navmenus[mitem].selected eq 1}<span>{/if}{$navmenus[mitem].menu}{if $navmenus[mitem].selected eq 1}</span>{/if}</a></li>
	            {/section}
		
   	  		</ul>
      	</p>

  	</div>
	<div class="content">
		{t}Tour{/t}
	</div>

{literal}
<script>
    new Control.Modal('tour1_video_modal',{
        opacity: 0.8,
		fade:true,
        width: 720,
        height: 480
    });
    new Control.Modal('tour2_video_modal',{
        opacity: 0.8,
		fade:true,
        width: 720,
        height: 480
    });
    new Control.Modal('tour3_video_modal',{
        opacity: 0.8,
		fade:true,
        width: 720,
        height: 480
    });
    new Control.Modal('tour4_video_modal',{
        opacity: 0.8,
		fade:true,
        width: 720,
        height: 480
    });
</script>

{/literal}

{include file="footer.html"}
